<h1 class="text-3xl">About {@company}</h1>

<p>We're a nice company based in <%= @location %></p>

<p style="white-space: pre-line;">
    Рез1:<%= 1 + 2 %>
    Рез2:<% 1 + 2 %>
</p>
<p style="white-space: pre-line;">
    <% a = 1 + 2 %><%= a %>
</p>